<%= form_with(model: question, url: [@course, @question], class: "contents") do |f| %>
    
    <div class="my-5">
        <%= f.label :title %>
        <%= f.text_field :title,
          placeholder:"Posez votre question",
          class: "block rounded-md border border-gray-200
          outline-none px-3 py-2 mt-2 w-full" %>
    </div>

<div class="editor-field">

        <%= f.label :content %>
        <%= f.rich_text_area :content, 
        placeholder:"Situer nous sur la question",
        class: "block  rounded-md border border-gray-200 
        outline-none px-3 py-2 mt-2 w-full" %>
    </div>


    <div class="inline">
        <%= f.submit "Demandez",
        class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block
        font-medium cursor-pointer" %>
    </div>
<% end %>

