<div id="<%= dom_id question %>" class="border text-white p-2">
    <div class="my-5 border rounded-md p-2">
        <div class="block font-medium mb-1">
          <h2 class="text-white font-semibold text-xl">
            <%= question.title %>
          </h2>
        </div>
        <div class="my-5  text-normal">
          <%= question.content %>
        </div>
    </div>
    <%= turbo_frame_tag :answers, src: question_answers_path(@question) %>
    <%= turbo_frame_tag :new_answer, src: new_question_answer_path(@question) %>
</div>

