<!-- component -->
<div id="<%= dom_id question %>" class="flex h-screen antialiased text-gray-800">
	<div class="flex flex-row h-full w-full overflow-x-hidden">
		<div class="flex flex-col flex-auto h-full p-6">
			<p class="text-white font-semibold">
				<%= question.title %>
			</p>
			<div class="flex flex-col flex-auto flex-shrink-0 rounded-2xl bg-gray-100 h-full p-4">
				<div class="flex flex-col h-full overflow-x-auto mb-4">
					<div class="flex flex-col h-full">
						<div class="grid grid-cols-12 gap-y-2">
							<!-- Question-->
							<div class="col-start-1 col-end-11 bg-white border rounded-bl-xl rounded-r-xl">
								<div class="flex items-center text-md  p-2" >
									<div class="">
										<div class="pb-2">
											<div class="font-semibold text-sm"><%= current_user.full_name %></div>
											<div class="italic text-xs ml-4">élève au <%= current_user.school_name %></div>
                      
										</div>
										<div class="flex" >
											Hey How are you today? ey How are you today?ey How are you today?ey How are you today?
										</div>
                  </div>
								</div>
							</div>
							<!-- Anwser-->
							<div class="col-start-3 col-end-13 border rounded-br-xl rounded-l-xl">
								<div class="flex items-center justify-start flex-row-reverse bg-indigo-100 p-2">
									<div class="">
										<div class="pb-2">
											<div class="font-semibold text-sm"><%= current_user.full_name %></div>
											<div class="italic text-xs ml-4">élève au <%= current_user.school_name %></div>
                      
										</div>
										<div class="flex" >
											Hey How are you today? ey How are you today?ey How are you today?ey How are you today?
										</div>
                  </div>
								</div>
							</div>


						</div>
					</div>
				</div>
				<div class="flex flex-row items-center h-16 rounded-xl bg-white w-full px-1">
					<div class="flex-grow">
						<div class="relative w-full">
							<!-- Input-->
							<!-- Input-->
							<input type="text" class="flex w-full border rounded-xl focus:outline-none focus:border-indigo-300 pl-4 h-10" placeholder="votre message" />
						</div>
					</div>
					<div class="ml-1 -mr-2">
						<button class="flex items-center justify-center bg-blue-600 hover:bg-indigo-600 rounded-xl text-white px-4 py-1 flex-shrink-0">
							<span class="mx-1">
								<svg class="w-4 h-4 transform rotate-90 hover:rotate-45 -mt-px" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8"></path>
								</svg>
							</span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>