<%= form_with(model: @flash, url: [@course, flash], class: "contents") do |f| %>
<%= form_error_notification(flash) %>


  <div class="my-5">
    <%= f.text_field :title, placeholder:"Titre du flash ...", class: "ln-field rounded-md" %>
  </div>

  <div class="my-5 bg-white p-2 rounded-md">
    <%= f.label :contenu %>
    <%= f.rich_text_area :content,
     class: "block  rounded-md outline-none px-3 py-2 mt-2 w-full",
    placeholder:"le contenu du flash ..." %>
  </div>

  <div class="inline">
    <%= f.submit "Créer un Flash", class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
