<div class="border p-2 my-2 rounded-md text-white">
    <%= content_tag :div, id: dom_id(answer), class:" #{answer.correct_answer? ? "bg-success bg-opacity-25" : ""}" do %>
        <div class="flex">
            <div class="flex justify-around m-2 mb-2 ">
                <% user_avatar = "#{[answer.user.first_name.first, answer.user.last_name.first].join('')}"  %>
                <p class="flex h-10 w-10 rounded-full bg-white font-bold text-black mr-2 uppercase">
                    <span class="flex justify-center mx-auto py-3">
                        <%= user_avatar %>
                    </span>
                </p>
                <em class="mt-2">
                    <span class="">
                        <%= answer.user.full_name %>
                        <br>
                            <span class="text-sm">
                                éleve de
                                <%= answer.user.level_name %>
                                à
                                <%= answer.user.school_name %>, (<%= answer.user.city_name %>)
                            </span>
                        </span>
                    </em>
                </div>
            </div>
            <div class="m-2">
                <%= answer.content %>
            </div>
            <div class="flex">
                <%= turbo_frame_tag dom_id(answer, 'actions'), src: question_answer_actions_path(answer.question, answer) %>
            </div>
        <% end %>
    </div>


