
<div id="<%= dom_id course %>" class="w-full flex border p-2">
	
	<!-- Onglet title -->
	<% @title=course.title %>

    <div class="flex flex-col text-white">
		<!-- Show course meta -->
		<div class="flex flex-row">
			<div class="basis-1/4">
    			<%= link_to sanitize("&larr;"), feed_path, class:"text-2xl" %>
			</div>

			<div class="basis-2/4">
				<p class="font-bold text-xl mx-auto "><%= course.material_name %></p>
			</div>
			<div class="basis-1/4"></div>
		</div>

		<div class="flex my-4">
			<h1 class="font-bold text-xl md:text-2xl"><%= course.title %></h1>
		</div>
		<!-- Items of course -->
		<div class="m-2">
            <%= course.content %>
		</div>
        
		<!-- Bottom items of course -->
		<div class="border-t mt-2">
			<div class="flex justify-between my-1">
				<%= render "courses/shared/feed/feed_essentials", course: @course %>
				<%= render "courses/shared/feed/feed_exercices", course: @course %>
			</div>
		</div>
	</div> 
</div>