<% @title="Accueil" %>

<div class="w-full flex flex-col justify-center items-center bg-black text-white">
	<div class="flex justify-between md:max-w-4xl">
		<div class="max-w-screen flex max-h-screen">
			<!-- SideBar -->
			<%= render "courses/shared/sidebar/sidebar_items" %>
			<!-- Feed -->
			<div class="w-full md:w-2/3 overflow-x-auto">
				<!-- Feed top Navbar -->
				<%= render "courses/shared/feed/top_navbar" %>
				
				<!-- Feed Course -->
				<%= turbo_frame_tag Course.new do %>
					<% if @courses.none? %>
					<%= render "courses/shared/empty_state" %>
					<% end %>
  				<% end %>

				<%= turbo_frame_tag "courses" do %>
					<%= render @courses %>
				<% end %>
			</div>
		</div>
	</div>
	<!-- Mobile Navbar Bottom -->
	<%= render "courses/shared/mobile_navbar" %>
</div>
